<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <title><%= title %></title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top shadow">
    <span class="navbar-brand"><%= title %></span>
    <div class="navbar-collapse">
      <ul class="navbar-nav nav-pills">
      </ul>
    </div>
  </nav>

  <div class="container-fluid">